<h1>Order Details</h1>

<p><strong>Address:</strong> <%= @order.address %></p>
<p><strong>Total:</strong> <%= number_to_currency(@order.total) %></p>

<%= link_to 'Back to Products', products_path %> 